@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    margin: 0;
    font-family: "Euclid Circular A";
    background: linear-gradient(180deg, rgba(140, 34, 195, 1) 0%, rgba(68, 9, 126, 1) 53%, rgba(28, 1, 59, 1) 100%);
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

* {
  box-sizing: border-box;
}

@media (min-width: 350px) {

    .logo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: solid 2px rgba(255, 199, 0, 0.75);
    }

    .div-spinner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .div-spinner h1 {
        font-size: 26px;
        margin-top: 5px;
    }

    .div-spinner a {
        margin-top: 20px;
        text-decoration: none;
        color: white;
        border: 2px solid #FCB502;
        border-radius: 30px;
        padding: 16px;
        font-size: 22px;
        animation: shadowAnimationIn 1.5s infinite;
    }

    @keyframes shadowAnimationIn {

        0%,
        100% {
            box-shadow: inset 0px 0px 31px 0px rgba(255, 199, 0, 0.75);
        }
    
        50% {
          box-shadow: none;
        }
      }

      .rombo2 {
        width: 25px;
        height: 25px;
        background: transparent;
        position: fixed;
        transform: rotate(45deg);
        border: 2px solid rgb(255, 255, 255);
        bottom: 6px;
        right: 12px;
        transition: .3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        animation: shadowAnimation 1.5s infinite;
    }

    @keyframes shadowAnimation {

        0%,
        100% {
            box-shadow: inset 0px 0px 31px 0px rgba(255, 255, 255);
        }
    
        50% {
          box-shadow: none;
        }
    }
}
